/* style.css */

html, body {
  background-color: rgb(15, 15, 15);
}
#CNV-Container {
  width: 100%; /* Or any desired width */
  height: 100vh; /* Set a height so the canvas fits */
  position: fixed;
  top: 0;
  left: 0;
}
#CNV-Container2 {
  position: fixed;
  top: 0;
  left: 0;
}
.blue_Button {
  margin: 2px;
  background-color: #008CBA; /* Blue */
  border: 2px solid #008CBA;
  border-radius: 2px;
  color: black;
  transition-duration: 0.4s;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.green_Button {
  margin: 2px;
  background-color: #04AA6D; /* Green */
  border: 2px solid #04AA6D;
  border-radius: 2px;
  color: black;
  transition-duration: 0.4s;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blue_Button:hover {
  background-color: rgb(15, 15, 15);
  color: white;
}
.green_Button:hover {
  background-color: rgb(15, 15, 15);
  color: white;
}