/* style.css */

html, body {
  height: 100%;
  padding: 10px;
  background-color: rgb(15, 15, 15);
}

body {
  margin: 0;
  /*display: flex;

  This centers our sketch horizontally.
  justify-content: center;

  This centers our sketch vertically.
  align-items: center; 
  */
}

.blue_Button {
  margin: 2px;
  background-color: #008CBA; /* Blue */
  border: 2px solid #008CBA;
  border-radius: 2px;
  color: black;
  transition-duration: 0.4s;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.green_Button {
  margin: 2px;
  background-color: #04AA6D; /* Green */
  border: 2px solid #04AA6D;
  border-radius: 2px;
  color: black;
  transition-duration: 0.4s;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blue_Button:hover {
  background-color: rgb(15, 15, 15);
  color: white;
}
.green_Button:hover {
  background-color: rgb(15, 15, 15);
  color: white;
}